page-quizz {
  .c-question__container {
    margin: 2rem 0;
  }

  .c-question__question {
    font-size: 1.5rem;
  }

  .c-results {
    text-align: center;
    font-size: 2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .c-results__score {
    font-size: 20rem;
  }

  .c-question__chrono {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 5rem;
  }

  .c-question__count {
    color: green;
  }
}