<ion-header>

    <ion-navbar>
        <ion-title>QuizzPage</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <div *ngIf="!finish" class="c-question__chrono">
        <span class="c-question__count">{{chrono}}</span>
    </div>
    <div class="c-question__container" *ngFor="let question of questions; let i = index;">
        <div *ngIf="currentQuestion === i && !finish">
            <h2>Question n°{{i+1}}</h2>
            <p>Catégorie : {{question?.category}}</p>
            <p class="c-question__question">{{question?.question}}</p>

            <ion-list radio-group [(ngModel)]="answer">
                <ion-item *ngFor="let answers of question.incorrect_answers">
                    <ion-label>{{answers}}</ion-label>
                    <ion-radio value="{{answers}}" (click)="doAnswer()" [(disabled)]="disabled"></ion-radio>
                </ion-item>
            </ion-list>
            <p *ngIf="questionMessage">{{questionMessage}}</p>
            <button *ngIf="currentQuestion < nbQuestions-1 && answered" ion-button full (click)="goToNextQuestion()">Question suivante</button>
            <button *ngIf="currentQuestion === nbQuestions-1 && answered" ion-button full (click)="showResults()">Résultats</button>
        </div>

    </div>
    <div *ngIf="finish" class="c-results">
        <p>Votre score</p>
        <span class="c-results__score">{{score}}</span>
    </div>
</ion-content>
