<ion-header class="c-header__navbar">
    <ion-navbar>
        <ion-title class="c-header__title">
            Trivia
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="c-app__body">
    <ion-list>
        <ion-item>
            <ion-label class="c-home__label">Nombre de questions</ion-label>
            <ion-select full [(ngModel)]="number">
                <ion-option value="5">5</ion-option>
                <ion-option value="6">6</ion-option>
                <ion-option value="7">7</ion-option>
                <ion-option value="8">8</ion-option>
                <ion-option value="9">9</ion-option>
                <ion-option value="10">10</ion-option>
            </ion-select>
        </ion-item>
        <p class="c-home__label">Difficulté</p>
        <ion-list radio-group [(ngModel)]="difficulty">
            <ion-item>
                <ion-label>Facile</ion-label>
                <ion-radio value="easy" checked></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>Moyen</ion-label>
                <ion-radio value="medium"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>Difficile</ion-label>
                <ion-radio value="hard"></ion-radio>
            </ion-item>
        </ion-list>
        <ion-item>
            <button full ion-button (click)="launchQuizz(number, difficulty)">
                C'est parti
            </button>
        </ion-item>
    </ion-list>
    <div *ngIf="error" class="c-error">
        {{error}}
    </div>
</ion-content>
