page-home {
  .c-header__title {
    text-align: center;
  }

  .c-app__body {
    //background-color: $background;
    //color: white;
  }

  .c-home__label {
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
  }
}
